{% extends "journals/entry_base.html" %}
{% load bootstrap3 %}

{% block preentry %}
    <div class="container">
<h1>Entry History Detail</h1>

<form>
 
    <label >Entry Name:</label>
    <input type="text" class="form-control" value="{{ entry.title_text}}" disabled>


    <label>Entry Description:</label>
    <input type="textarea" class="form-control" value="{{ entry.body_text }}" disabled>


    <label>Created Data:</label>

    <input type="text" class="form-control" value="{{ entry.created_date }}" disabled>

     <label>IS Hidden:</label>

    <input type="text" class="form-control" value="{{ entry.hidden_boolean }}" disabled>

     <label>IS DELETED:</label>

    <input type="text" class="form-control" value="{{ entry.deleted_boolean }}" disabled>

</form>

        <div class="media-footer">
			{% if user.is_authenticated%}
{##}
{#                        {% if entry.is_available %}#}
{#            disable the menu#}
{#             <td><a href="#"#}
{#               class="btn btn-md btn-fill btn-info">Current Entry</a></td>#}
{#        {% else %}#}
{#             <td><a href="{% url 'journals:entry_replace' pk=entry.id orginal_entry_index=entry.orginal_entry%}"#}
{#               class="btn btn-md btn-fill btn-warning">Replace Entry</a></td>#}
{#        {% endif %}#}
                {% if entry.is_available %}
                    <a class="btn btn-primary" href="{% url 'journals:entry_log' orginal_entry=entry.orginal_entry journal_id=entry.journal.id %}"><span class="glyphicon glyphicon-remove"></span>Back</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'journals:entry_replace' pk=entry.id orginal_entry_index=entry.orginal_entry %}"><span class="glyphicon glyphicon-ok"></span>Recevery</a>
                    <a class="btn btn-primary" href="{% url 'journals:entry_log' orginal_entry=entry.orginal_entry journal_id=entry.journal.id %}"><span class="glyphicon glyphicon-remove"></span>Cancel</a>
                {% endif %}



{#				<a href="{% url 'journals:entry_edit' pk=journal.pk %}" title="delete" class="btn btn-simple">#}

			{% endif %}
		</div>
    </div>
{% endblock %}