{% extends "journals/entry_base.html" %}
{% block preentry %}

<h1>Journal</h1>
    <div class="container">


    <form action="{% url 'journals:entry_search' %}" method="get" onsubmit="myFunction()">
                {% csrf_token %}
                    Search Content:
                    <input type="text" name="content">
        <p></p>
                    On this date:
                    <input type="date" name="date">
        <p></p>
                    From:
                    <input type="date" name="start_date">
                    To:
                    <input type="date" name="end_date">
                    <input type="hidden" name="journal_id" value={{ gournal_id }}>
        <p></p>
                    <input type="submit" value="Search" class="btn btn-primary btn-large">
        <input type="hidden" name="seletor_value" id="list_seletor">
    </form>

      <form action="{% url 'journals:entry_list' pk=gournal_id %}" method="GET" id="entry-select">
    {% csrf_token %}
          
          <p></p>
          
    <a href="{% url 'journals:entry_create' pk=gournal_id %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> New Entry</a>
          Filter by:
    <select id="id_entry_list" name="entry_lists" onchange="hello();">
      <option value=1 id="option_1">Visible Entries</option>
      <option value=2 id="option_2">All Entries</option>
    </select>
    <script>setValue({{ select_id }})</script>
  </form>
    {% if object_list.content == 0 %}
        <li>No Entries yet.</li>
    {% else %}

<table class="table">
    <thead>
    <tr class ="info">
        <th>Entry Name</th>
        <th>Entry Description</th>
        <th>Created Date</th>
        <th><center>Manage</center></th>

    </tr>

    </thead>
    <tbody>
    {% for entry in object_list  %}
    <tr>
        {% if entry.deleted_boolean %}
            <td><font color="red">[Deleted]{{ entry.title_text }}</font></td>
            {% else %}
            <td>{{ entry.title_text }}</td>
        {% endif %}
        <td>{{ entry.body_text }}</td>

        <td>{{ entry.created_date }}</td>
        <td>
        <center>
        {% if entry.deleted_boolean %}
        {%else%}
        {% if entry.hidden_boolean %}
            <a href="{% url 'journals:entry_hide' pk=entry.id %}" class="btn btn-md btn-fill btn-warning">Unhide</a>
        {% else %}
            <a href="{% url 'journals:entry_hide' pk=entry.id %}" class="btn btn-md btn-fill btn-info">Hide</a>
        {% endif %}
        <a href="{% url 'journals:entry_log' orginal_entry=entry.orginal_entry journal_id=entry.journal.id %}" class="btn btn-md btn-fill btn-warning">History</a>
            
                    <a class="btn btn-primary" href="{% url 'journals:entry_update' pk=entry.pk %}">Edit <span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-primary" href="{% url 'journals:entry_remove' pk=entry.pk %}">Delete <span class="glyphicon glyphicon-remove"></span></a>
</center>
        {% endif %}
            </td>

    </tr>
        {% empty %}
    <tr>
        <td>No entries!</td>
    </tr>


    {% endfor %}
    </tbody>

</table>
{% endif %}

                 <a class="btn btn-primary" href="{% url 'journals:all' %}">Return to Journals</a>

{% endblock %}