{% extends "journals/journal_base.html" %}
{# <script>hello()</script>#}
{% block pregroup %}
    <div class="container">
    <h1>Journals List</h1>
<table class="table">
    <thead>
    <tr class ="info">
        <th>Journal Name</th>
        <th>Journal Description</th>
        <th>Created Data</th>
        <th>Entries</th>
        <th>Manage</th>
    </tr>

    </thead>
    <tbody >
    {% for journal in object_list  %}
    <tr>
        <td><a href="{% url 'journals:single' slug=journal.slug %}">{{ journal.name_text }}</a></td>
        <td>{{ journal.description_text }}</td>
        <td>{{ journal.created_date }}</td>
        <td><a href="{% url 'journals:entry_list' pk=journal.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
        <td>

            <a class="btn btn-primary" href="{% url 'journals:edit' pk=journal.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-primary" href="{% url 'journals:delete' pk=journal.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        </td>



    </tr>
        {% empty %}
        <tr>
        <td>
            No articles yet.
        </td>
        </tr>
    {% endfor %}
    </tbody>

</table>




</div>
{% endblock %}