{% extends "journals/journal_base.html" %}
{# <script>hello()</script>#}
{% block pregroup %}
    <div class="container">
    <h1>Journals</h1>
<table class="table">
    <thead>
    <tr class ="info">
        <th>Journal Name</th>
        <th>Journal Description</th>
        <th>Created On</th>
        <th>Entries</th>
        <th><center>Manage</center></th>
    </tr>

    </thead>
    <tbody >
    {% for journal in object_list  %}
    <tr>
        <td>{{ journal.name_text }}</td>
        <td>{{ journal.description_text }}</td>
        <td>{{ journal.created_date }}</td>
        <td><a href="{% url 'journals:entry_list' pk=journal.id %}">View</a></td>
        <td><center>
            <a class="btn btn-primary" href="{% url 'journals:edit' pk=journal.pk %}">Edit <span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-primary" href="{% url 'journals:delete' pk=journal.pk %}">Delete <span class="glyphicon glyphicon-remove"></span></a>
</center>
            </td>



    </tr>
        {% empty %}
        <tr>
        <td>
            No articles yet.
        </td>
        </tr>
    {% endfor %}
    </tbody>

</table>




</div>
{% endblock %}